{% extends 'profile/base.html' %}
{% load static %}
{% block content %}
<div class="card-body">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Foydalanuvchi ma'lumotlari</h6>
</div>
<!-- Card Body -->
<div class="card-body">
    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Ism</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Familya</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Fakultet</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Matematika va informatika fakulteti</option>
            <option>Tabiiy fanlar</option>
            <option>O’zbek tili va adabiyoti</option>
            <option>Boshlang‘ich ta’lim</option>
            <option>Tarix</option>
            <option>Fizika va texnologiya ta’limi</option>
            <option>Chet tillar</option>
            <option>Rus tili va adabiyoti fakulteti</option>
            <option>Jismoniy  madaniyat</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        </form>
</div>
</div>
{% endblock content %}