{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}


    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{% static 'img/slider3.jpg' %}');"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Talabalar akademiyasi <br><span>G'OYALAR GENERATORI </span></h1>
                    <p class="banner_txt">Talabalar akademiyasining asosiy yo‘nalishlariga tegishli bo‘lgan ma’lum bir muammoning yechimiga qaratilgan innovasion g‘oyaga ega jamoalar platformasi.</p>

                </div>
            </div>

            <div class="item">
                <div class="fill" style="background-image:url('{% static 'img/slider5.jpg' %}');"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Talabalar akademiyasi <br><span>STARTAPLAR </span></h1>
                    <p class="banner_txt">O‘z g‘oyasi va ushbu g‘oyani amalga oshirishga qaratilgan startap loyihalari va ularni amalga oshirish bo‘yicha aniq rejaga ega jamoalar platformasi.</p>

                </div>
            </div>

            <div class="item">
                <div class="fill" style="background-image:url('{% static 'img/biznesman.jpg' %}');"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Talabalar akademiyasi <br><span>BIZNES VAKILLARI </span></h1>
                    <p class="banner_txt">Faoliyatida ilm-fan va innovasiya yutuqlarini qo‘llagan va tegishli sohada kamida 1 yillik tajribaga ega bo‘lgan jamoalar platformasi.</p>

                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{% static 'img/acad.jpg' %}');"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Talabalar akademiyasi <br><span>BO'LAJAK AKADEMIKLAR </span></h1>
                    <p class="banner_txt">Yuqoridagi platformalarda faol ishtirok etgan, mamlakatning ilm-fan rivojlanishiga katta hissa qo‘shayotgan yuqori ilmiy salohiyatga ega olimlar platformasi.</p>

                </div>
            </div>
        </div>

        <!-- Left and right controls -->

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>

<!--    <section id="features">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4 col-xs-12 block">-->
<!--                    <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>-->
<!--                    <div class="col-md-10 col-xs-10">-->
<!--                        <h4>100% Responsive</h4>-->
<!--                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.</p>-->
<!--                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-xs-12 block">-->
<!--                    <div class="col-md-2 col-xs-2"><i class="fa fa-bullhorn feature_icon"></i></div>-->
<!--                    <div class="col-md-10 col-xs-10">-->
<!--                        <h4>Powerful Features</h4>-->
<!--                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.</p>-->
<!--                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-xs-12 block">-->
<!--                    <div class="col-md-2 col-xs-2"><i class="fa fa-support feature_icon"></i></div>-->
<!--                    <div class="col-md-10 col-xs-10">-->
<!--                        <h4>Customer Support</h4>-->
<!--                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.</p>-->
<!--                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


<!--    <section id="about">-->
<!--        <div class="image-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">-->
<!--            <div class="background-imgholder">-->
<!--                <img src="{% static 'img/1.jpg' %}" alt="about" class="img-responsive" style="display:none;" />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="container-fluid">-->

<!--            <div class="col-md-7 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-12 text-inner ">-->
<!--                <div class="text-block">-->
<!--                    <div class="section-heading">-->
<!--                        <h1>ABOUT <span>US</span></h1>-->
<!--                        <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut.</p>-->
<!--                    </div>-->

<!--                    <ul class="aboutul">-->
<!--                        <li> <i class="fa fa-check"></i>Vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.</li>-->
<!--                        <li> <i class="fa fa-check"></i>legimus copiosae instructior ei ut vix denique fierentis atqui mucius consequat ad pro.</li>-->
<!--                        <li> <i class="fa fa-check"></i>Ea saperet inimicu ut qui dolor oratio maiestatis ubique mnesarchum.</li>-->
<!--                        <li> <i class="fa fa-check"></i>Sanctus voluptatibus et per illum noluisse facilisis quo atqui mucius ad pro.</li>-->
<!--                        <li> <i class="fa fa-check"></i>At illum noluisse facilisis quo te dictas epicurei suavitate qui his ad.</li>-->
<!--                        <li> <i class="fa fa-check"></i>Tantas propriae mediocritatem id vix qui everti efficiantur an ocurreret consetetur.</li>-->
<!--                    </ul>-->

<!--                    <button type="button" class="btn btn-primary slide">Learn More  <i class="fa fa-caret-right"></i> </button>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


    <section id="process">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1>Talabalar akademiyasi <span>Platformalari</span></h1>
                     </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-lightbulb-o feature_icon"></i></a></span></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">G'OYALAR GENERATORI</a></h4>
                        <p>Yoshlar akademiyasining asosiy yo‘nalishlariga tegishli bo‘lgan ma’lum bir muammoning yechimiga qaratilgan innovasion g‘oyaga ega jamoalar platformasi.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-cloud-download feature_icon"></i></a></span></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">STARTAPLAR</a></h4>
                        <p>O‘z g‘oyasi va ushbu g‘oyani amalga oshirishga qaratilgan startap loyihalari va ularni amalga oshirish bo‘yicha aniq rejaga ega jamoalar platformasi.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-magic feature_icon"></i></a></span></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">BIZNES VAKILLARI</a></h4>
                        <p>Faoliyatida ilm-fan va innovasiya yutuqlarini qo‘llagan va tegishli sohada kamida 1 yillik tajribaga ega bo‘lgan jamoalar platformasi.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block lastchild">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-cog feature_icon"></i></a></span></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">BO'LAJAK AKADEMIKLAR</a></h4>
                        <p>Yuqoridagi platformalarda faol ishtirok etgan, mamlakatning ilm-fan rivojlanishiga katta hissa qo‘shayotgan yuqori ilmiy salohiyatga ega olimlar platformasi.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="testimonial">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1>Talabalr akademiyasi <span>Prizidentlari</span></h1>
                    <p class="subheading">Talabalar akademiyasi prezidentlariga o'z takliflaringiz va e'tirozlaringizni bildirishingiz mumkin!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 block ">
                    <div class="testimonial_box">
                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset. </p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="{% static 'img/user1.png' %}" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>Lorem Ipsum</h5>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12 block">
                    <div class="testimonial_box">
                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset. </p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="{% static 'img/user1.png' %}" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>Lorem Ipsum</h5>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 block">
                    <div class="testimonial_box">
                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset. </p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="{% static 'img/user1.png' %}" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>Lorem Ipsum</h5>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

{% endblock %}