{% extends 'base.html' %}
{% load static %}
{% block title %}NewsView{% endblock title %}
{% block content %}


          <div style="padding:100px;">

                <div class="portfolio-head">
                    <h1 class="title">{{post.title}}</h1>
                <div class="portfolio-img" ><img alt="" src="{{post.image.url}}" style="width:100%;"></div>

            </div>
            <!-- End portfolio-head -->
            <div class="portfolio-content ">

                <h2>{{post.text}}</h2>
                <p>{{post.date}}</p>
            </div>
          </div>


{% endblock %}