{% extends 'base.html' %}
{% load static %}

{% block content %}


            <div class="portfolio-head">
                <div class="portfolio-img" ><img alt="" src="{{post.image.url}}" style="width:100%;"></div>

            </div>
            <!-- End portfolio-head -->
            <div class="portfolio-content ">
                <h3 class="title">{{post.title}}</h3>
                <h2>{{post.text}}</h2>
                <p>{{post.date}}</p>
            </div>


{% endblock %}